@import "./styles/variables.css";

/* ===== RESET ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== CUERPO ===== */

body {

  font-family: "Segoe UI", Arial, sans-serif;

  background: var(--color-fondo);

  color: var(--color-texto);

}

/* ===== CONTENEDOR PRINCIPAL ===== */

#root {

  min-height: 100vh;

}

/* ===== ENLACES ===== */

a {

  text-decoration: none;

  color: inherit;

}

/* ===== BOTONES ===== */

button {

  cursor: pointer;

  border: none;

  border-radius: var(--radio);

  transition: all .25s ease;

}

button:hover {

  transform: translateY(-2px);

}